html
{
	width: 100%;
	height: 100%;

}
body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	background: url("img/asd2.jpg");
	background-size: 1920px 1080px;
	font-family: sans-serif;
	font-size: 2em;
}
h1
{
	margin:	0px;
}
header
{
	height: 25%;
}
#logo
{
	margin-top: 20px;
	width:10%;
	height:10%;
	position: relative;
	left: 45%;

}
main
{
	width: auto;
	height: 75%;
}
#contenedor_principal
{
	height: 65%;
}
#login
{
	margin: auto;
	margin-bottom: 20px;
	width: 30%;
	height: 95%;
	background-color: #f1f1f1;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius:8px;
}
#login h2
{
	margin: 0px;
	text-align: center;
	padding-top:10px;
	color: black;
}
a
{
	color: #ddd;
}
h2 a:hover ,h2 a:focus{
	outline: 5px solid red;
	color: red;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

#login a
{
	color: black;
}

#login a:focus, #login a:active, #login a:hover
{
	outline: 5px solid red;
	color: red;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}
p
{
	text-align: center;
}
input[type="text"], input[type="password"]
{
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 6px 10px;
	width: 90%;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 2px 3px #ddd;
	box-sizing: border-box;
	font-size: 1em;
}
input[type="text"]:focus, input[type="password"]:focus {
    border: 4px solid #555;
}
input[type="submit"]
{
	display: block;
	margin: auto;
	margin-top:	24px;
	box-shadow: 0 2px 3px #aaa;
	background-color: #F44336;
	border:	none;
	color:	#ddd;
	width: 300px;
	height: 50px;
	padding: 6px 20px;
	border-radius: 8px;
    transition-duration: 0.2s;
    font-size: 1em;
    color: white;
}
input[type="submit"]:focus,input[type="submit"]:hover
{
	background-color: #EF5350;
	outline: 5px solid black;
	
	
}

input[type="submit"]:active
{
	box-shadow: none;
}

label
{
	display: block;
	margin: auto;
	width: 90%;
}
h2
{
	margin: 0px;
	color: #ddd;

}
#UltimasFotos
{
	background-color: rgba(0,0,0,0.70);
	margin:	auto;
	margin-bottom: 100px;
	text-align: center;
	
}
#UltimasFotos img
{
	width:15%;
	height:90%;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.5s;
	vertical-align: middle;
	padding-bottom: 10px;
}
hr
{
	width: 35%;
	color: #ddd;
}
#copy{
	display: none;
}

#UltimasFotos img:hover,#UltimasFotos a:focus img{
	height: 100%;
	width: 20%;
	transition: 0.5s;
}

