@media screen and (max-width: 1050px) 
{
	#UltimasFotos img
	{
		width: 157px;
		margin-top: 5px;
	}
	#UltimasFotos
	{
		/*height: 490px;*/
	}
}
@media screen and (max-height: 640px)
{
		main
	{
		width: auto;
		height: 90%;
	}
}
@media screen and (max-height: 680px)
{
		main
	{
		width: auto;
		height: 80%;
	}
}
@media screen and (max-width: 615px) 
{
	#login
	{
		width: 185px;
	}
	#logo
	{
		width: 12.5%;
		height: auto;
	}
}
@media screen and (max-width: 397px)
{


	#login
	{

	}
	#UltimasFotos h2
	{
		font-size: 1em;
		padding: 5px;
	}
	#UltimasFotos
	{
		height: 550px;
	}
}
@media screen and (max-width: 347px)
{

	#UltimasFotos
	{
		height: 800px;
	}
}