body{
	height:100%;
	margin: 0;
	padding: 0;
	background-color:#ECEFF1;
}
p,legend{
	font-family: 'Ubuntu', sans-serif;
}
label ,fieldset{
	width: 90%;
	display: block;
	margin: auto;
}

main{
	border-radius: 8px;
	background: white;
	width: 50%;
	display:block;
	margin: auto;
}
form{
	padding: 5%;
	padding-top: 0;
	padding-bottom: 2%;
}
input[type="file"]{
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 6px 10px;
	width: 90%;
}
input[type="text"], input[type="password"],input[type="email"],input[type="date"]{
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 6px 10px;
	width: 90%;

	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 2px 3px #ddd;

	box-sizing: border-box;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}
input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus,input[type="date"]:focus {
    border: 1px solid #555;
}

input[type="search"]{
	margin: auto;
	position: relative;
	left: 40%;
	display: inline-block;
	padding: 0;
}

#titulo_registro{
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Pacifico', cursive;
}
#boton_registro{
    background-color: #F44336;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin: auto;
    display: block;
	box-shadow: 0 2px 3px #aaa;
	border:	none;
	color:	#ddd;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#boton_registro:hover{
	background-color: #EF5350;
}
#boton_registro:active{
	box-shadow: none;
}
#logo{
	height: 70px;
	width: 85px;
	padding-left: 10px;
	vertical-align: middle;
}
header{
		background: #EF5350;
}

#letras_logo{
	color: white;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Pacifico',sans-serif;
}
#obligatorio{
	padding-left: 5%;
	font-weight: bold;
}
a{
	text-decoration: none;
}
#boton_buscar{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 40%;
}
#formulario_busqueda{
	margin-top: 2%;
	width: 500px;
 	 height: 41px;
}