body{
	height:100%;
	margin: 0;
	padding: 0;
	background-color:#ECEFF1;
}
p,legend, .botones_perfil, h3{
	font-family: 'Ubuntu', sans-serif;
}
figcaption{
	font-family: 'Pacifico', sans-serif;
	padding: 2%;
}
label ,fieldset{
	width: 90%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}
main{
	border-radius: 8px;
	background: white;
	width: 50%;
	display:block;
	margin: auto;
	padding: 0;
}
form{
	padding: 5%;
	padding-top: 0;
	padding-bottom: 2%;
}
input[type="file"]{
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 6px 10px;
	width: 90%;
}	
input[type="text"], input[type="password"],input[type="email"],input[type="date"], input[type="tel"], input[type="number"],  input[type="color"], textarea, select{
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 6px 10px;
	width: 90%;

	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 2px 3px #ddd;

	box-sizing: border-box;
	/*-webkit-transition: 0.5s;*/
    /*transition: 0.5s;*/
}
input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus,input[type="date"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="color"]:focus, textarea:focus, select:focus {
    border: 1px solid #555;
}

input[type="search"]{
	margin: auto;
	position: relative;
	left: 35%;
	display: inline-block;
	padding-left:11px;
	width: 500px;
 	height: 41px;
 	font-size: 14px;
 	vertical-align: middle;
}
input[type="search"]:focus{
	outline:2px solid red;
}

#titulo_registro, #titulo_busqueda, #titulo_solicitar_album{
	padding-top: 10px;
	padding-left: 20px;
	font-family: 'Pacifico', cursive;
}
button,#boton_registro{
    background-color: #F44336;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin: auto;
    display: block;
	box-shadow: 0 2px 3px #aaa;
	border:	none;
	color:	#ddd;
	/*-webkit-transition-duration: 0.2s;*/
    transition-duration: 0.2s;
}
button:hover{
	background-color: #EF5350;
}
button:active{
	box-shadow: none;
}
#boton_registro:hover{
	background-color: #EF5350;
}
#boton_registro:active{
	box-shadow: none;
	
}

#logo{
	height: 70px;
	width: 85px;
	padding-left: 10px;
	vertical-align: middle;
}
header{
		background: #EF5350;
}

#letras_logo{
	color: white;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Pacifico',sans-serif;
}
#obligatorio{
	padding-left: 5%;
	font-weight: bold;
}
a{
	text-decoration: none;
}
#boton_buscar, #boton_solicitar_album{
	display: block;
	margin: auto;
	/*position: relative;
	left:40%;*/
	width: 100px;
 	height: 41px;
 	vertical-align: middle;
 	background-color: #F44336;
    border-radius: 8px;
	box-shadow: 0 2px 3px #aaa;
	border:	none;
	color:	#ddd;
	/*-webkit-transition-duration: 0.2s;*/
    transition-duration: 0.2s;
}
#boton_barra_busqueda
{
	display: inline-block;
	position: relative;
	left:35%;
	width: 100px;
 	height: 41px;
 	vertical-align: middle;
 	background-color: #F44336;
    border-radius: 8px;
	box-shadow: 0 2px 3px #aaa;
	border:	none;
	color:	#ddd;
	/*-webkit-transition-duration: 0.2s;*/
    transition-duration: 0.2s;
}
#boton_buscar:focus, #boton_buscar:hover, #boton_solicitar_album:focus, #boton_solicitar_album:hover{
	background-color: #EF5350;
}
#boton_buscar:active, #boton_solicitar_album:active{
	box-shadow: none;
}
#formulario_busqueda{
	margin-top: 2%;
}

/* Cosas para la barra de navegación */

ul {
     font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}

article{
	display: inline-block;
	border: 1px solid grey;
	padding: 0;
	margin: 10px;
}
article p{
	padding: 1%;
}
section{
	float:left;
	width: 75%;
	margin-left: 3%;
}
figure{
	padding: 0;
	margin: 0;
}
figure img{
	padding: 0;
}
aside{
	float: right;
	width: 20%;
}
footer{

	clear:left;
	position: relative;
  	right: 0;
  	bottom: 0;
	left: 0;
	margin-top:10px;
	background-color: rgba(0,0,0,0.15);
 	text-align: center;
} 

/*PARA EL ASIDE DEL FILTRO*/
fieldset{
	border-radius: 8px;
	background: #fff;
	width: 250px;
	font-family: 'Ubuntu',sans-serif;
}


.titulo{
	font-weight: bold;
}
/*arreglo textos busquedas*/
#texto_resultado{
	margin-left: 20px;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
}

#FechaPais
{
	display: inline;
	float: right;
	margin: 0;
}
.imagen
{
	display: block;
    margin: auto;
}
span{
	font-weight: bold;
}
p{
	line-height: 1;
}
.pasar{
	display: inline;
	margin: 10px;
}
#misdatos{
	width: auto;
	border: 0;
	background-size: 100% 100%;
}

tr td:first-child{
	color:grey;
	width: 220px;
}
td{
	border-bottom: 1px solid #ddd;
}
#imagen_perfil{
	width: 20%;
	height: 20%;
}
#main_usuario{
	margin-top: 3%;
}

#edit_perfil{
	margin: 0;

}
.botones_perfil:link, .botones_perfil:visited{
    text-align: left;
    text-decoration: none;
    display: block;
	color:	black;
	padding-left: 5%
}

.botones_perfil:hover{
	background-color:#CFD8DC;
}
.botones_perfil:active
{
	box-shadow: none;
}
.botones_perfil  img{
	width: 2%;
	height: 2%;
	vertical-align: middle;
	margin: 1%;
}

h1{
	font-family: 'Pacifico','sans-serif';
}

main fieldset{
	width: 90%;
}
.peque{
	width: 15%;
	display:inline-block;
	padding-left: 5%
}

/*	CSS de detalles-fotos.html	*/

#formBusqueda
{
	margin: auto;
	margin-bottom: 20px;
	width: 30%;
	height: 275px;
	background-color: #f1f1f1;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius:8px;
}
#formBusqueda h2
{
	margin: 0px;
	text-align: center;
	padding-top:10px;
	color: black;
	font-family: 'Pacifico', cursive;
}
#principal
{
	width: auto;
	height: 75%;
}
#contenedor_principal
{
	height: 80%;
}
#volver{
	color: black;
	padding: 10px;
	background:#CFD8DC;
}

#tipo_impresion /* Para elegir el tipo de impresion en solicitar */
{
	text-align: left;
	margin: auto;
	width: 90%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #F44336;
    color: white;
}

#precio_total{
	text-decoration: underline; 
}